body {
	font-family: 'Noto Sans', sans-serif;
	font-size: 12px;
	margin: 0 auto;
	height: 100%;
	width: 100%;
}
#chart {
	height: 70vh;
	width: 100%;
}

#books {
	height: 30%;
	width: 100%;
	position:relative;
}

.book,.bids,.asks,.prices,.amounts  {
	position: relative;
	width: 50%;
	float: left;
}

.header {
	text-align: center;
}

