body {
	font-family: 'Noto Sans', sans-serif;
	font-size: 12px;
	margin: 0 auto;
	height: 100%;
	width: 100%;
}
#chart {
	height: 100vh;
    position: absolute;
    right: 300px;
    left: 0px;
}

#books {
	width: 300px;
	position: absolute;
	right: 0;
}

.book1 {
	position: absolute;
	top: 0;
	width: 100%;
}

.book2 {
	position: absolute;
	top: 50vh;
	width: 100%;
}

.bids,.asks,.prices,.amounts  {
	position: relative;
	width: 50%;
	float: left;
}



.asks {
    background: #faebd7;
}


.bids {
    background: #99e8b5;;
}

.header {
	text-align: center;
}

