body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 12px;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}
#chartWrapper {
    height: 100vh;
    position: absolute;
    right: 350px;
    left: 0px;
}

#chart {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


#booksWrapper {
    width: 350px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 50px;
}

.book1 {
    position: relative;
    top: 0;
    width: 100%;
    height: 50%;
    overflow-y: scroll; 
}

.book2 {
    position: absolute;
    width: 100%;
    height: 50%;
    overflow-y: scroll; 
}

.bids,.asks,.prices,.amounts  {
    position: relative;
    width: 50%;
    float: left;
}



.asks {
    background: #faebd7;
}


.bids {
    background: #99e8b5;;
}

.header {
    text-align: center;
}

#loader {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#batches {
    position: absolute;
    bottom: 0;
}

#controlWrapper {
    width: 350px;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 50px;
}

