extends layout

block styles
  link(rel='stylesheet', href=assets.main.css)
  
block scripts
  script(src=assets.main.js) 

block content
  #chartWrapper
    #chart(batchId=batchId)
    img#loader(src='images/loader.gif')
  #booksWrapper
    #books
    #batches
      select
        each batch in batches
          option(batchId=batch)= new Date(parseInt(batch, 10))

    